html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-family: "Raleway", sans-serif;
  background: rgb(54, 77, 204);
  background: linear-gradient(
    180deg,
    rgba(54, 77, 204, 1) 0%,
    rgba(23, 37, 115, 1) 100%
  );
}

.avatar {
  width: 80px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: "Architects Daughter", cursive;
  font-weight: 100;
  font-size: 24px;
}

h2 {
  font-size: 16px;
}
